/* Add the Poppins font to your website */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .App {
    padding: 20px;
    background-color: #fff;
  }
  
  .board {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .column {
    flex: 1;
    background: white;
    border-radius: 5px;
    padding: 10px;
  }
  .grouping {
    margin-bottom: 20px;
  }
  
  .grouping label {
    margin-right: 20px;
  } 
  
  .card {
    padding: 10px;
    border-radius: 5px;
  }
  
  
  